/* CSS3 */
  /*
-> Theme Name: 
-> Theme URI: http://www.pk.com/
-> File Name: style.css
-> Author: Karigar Web Solution
->  Description: Description
->  Version: 1.0
*/
/*--------------------------------------------------------------\
>>>          TABLE OF CONTENTS:
----------------------------------------------------------------\
    1 ) Typography
        1.1 ) Helping Classes


    2) Home  Page
        2.1 ) Header
        2.2 ) Navigation
        2.3 ) Header-Slider


    3) home-portfolio
        3.1 ) Portfolio Section
        3.2 ) Portfolio Section

    4 ) Contact Page
        4.1 ) Portfolio Section
        4.1 ) Portfolio Section

    10 ) Foote
--------------------------------------------------------------*/
/*      Reset CSS                 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}body,ul,ol,li,form,fieldset,legend,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0}h1,h2,h3,h4,h5,h6,p{margin:0;padding:0}fieldset,img{border:0}legend{color:#000}li{list-style:none}sup{vertical-align:text-top}sub{vertical-align:text-bottom}abbr,acronym{border-bottom:.1em dotted;cursor:help}a{text-decoration:none;outline:none}table,td,tr{padding:0}
a:focus,a:hover,a:active{outline: none;}
a{transition: all 0.5s ease;-moz-transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-ms-transition: all 0.5s ease;}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
/**********************************/
/*      1 ) Typography           */
/**********************************/
/* Font Import From Google Fonts*/
@font-face{
  font-family:"Helvetica-Condensed-Thin";
  src:url("../fonts/HELVETI3.ttf");
}
@font-face{
  font-family:"Helvetica-Condensed";
  src:url("../fonts/Helvetica-Condensed.ttf");
}

@font-face {font-family: "Helvetica Condensed";
  src: url("../fonts/76252828a80f3f2da41b7acd51bbf9ba.eot"); /* IE9*/
  src: url("../fonts/76252828a80f3f2da41b7acd51bbf9ba.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/76252828a80f3f2da41b7acd51bbf9ba.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/76252828a80f3f2da41b7acd51bbf9ba.woff") format("woff"), /* chrome、firefox */
  url("../fonts/76252828a80f3f2da41b7acd51bbf9ba.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/76252828a80f3f2da41b7acd51bbf9ba.svg#Helvetica Condensed") format("svg"); /* iOS 4.1- */
}















html{text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
body{font-family: 'Helvetica Condensed', arial !important;background-color:#f9f9f9;}
/**********************************/
/*      1.1 ) Helping Classes       */
/**********************************/
.no-padding{padding-left: 0px !important;padding-right: 0px !important;}
.clearfix{clear: both;}
/*****************************************************************************************************************************************
                                                             2) Home  Page
******************************************************************************************************************************************/
/*----------------------
   2.1 ) Header
 ----------------------*/
/*Top Navigation*/
.top-navigation{
  min-height: 30px;
  background-color: #5ab2b0;
}
.top-navigation .top-nav-links{
  list-style: none;
  float: right;
}
.top-navigation .top-nav-links li {
  float: left;
  display: block;
}
.top-navigation .top-nav-links li a{
  font-size: 13px;
  line-height: 28px;
  color: #fff;
  border-right: 1px solid #fff;
  padding: 0px 15px 0px 15px;  
  text-decoration: none;
  letter-spacing: .5px;
}
.top-navigation .top-nav-links li a:hover,
.top-navigation .top-nav-links li a:focus{
  color: #b2e3e2;
}



.top-navigation .top-nav-links li:last-child a {border:none;}
/*logo-section*/
.logo-section .logo{float: left;padding-top: 15px;}
.logo img{
  max-width: 219px;
  min-width: 219px;
  min-height: 80px;
  max-height: 80px;
}
.logo-section .logo-content{float: right;margin-top: 20px;max-height: 70px;min-height: 70px;overflow: hidden;}
.logo-section .logo-content address{
  display: inline-block;
  padding-top: 16.3px;
  padding-bottom: 16.3px;
  border-right: 1px solid #d6d6d6;
  padding-right: 16px;
  text-align: right;
  word-spacing: 4px;
}
.logo-section .logo-content address > a{
    text-decoration: none;
     font-size: 13px;
     color: #7a7a7a;
}
.logo-content i{
  font-size: 50px;
  color: #7a7a7a;
  padding-left: 12px;
}
.logo-content .number{display: inline-block;}
.logo-content .number h6{
  font-size: 14px;
  line-height: 19px;
  color: #7a7a7a;
  font-style: italic;
  padding-left: 10px;
  padding-top: 10px;
}
.logo-content .number a{
  font-size: 22px;
  color: #5ab2b0;
  line-height: 22px;
  padding-left: 10px;
  text-decoration: none;
}

/*----------------------
   2.2 ) Navigation
 ----------------------*/

header .navbar-default .navbar-collapse, 
header .navbar-default .navbar-form {
  padding-left: 0px;
  padding-right: 0px;
}
header .navbar-default{
  background: none;
  border-radius: 0px;
  border-color: #d6d6d6;
  border-bottom: none;
  margin-bottom: 0px;
  margin-top: 17px;
}
header .navbar-default .navbar-nav > li > a{
  font-size: 14px;
  color: #7a7a7a;
  text-transform: uppercase;
  padding: 16px 19px;
}
header .navbar-default .navbar-nav .fa-home{font-size: 17px;}

header .navbar-default .navbar-nav > li:first-child a{padding-left: 0px;} 
header .navbar-default .navbar-nav > li:last-child a{padding-right: 0px;padding-bottom: 0px;}





header .navbar-default .navbar-nav > li > a:focus, 
header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > li.active a,
header .navbar-default .navbar-nav > li.active a:hover,
header .navbar-default .navbar-nav > li.active a:focus,
header .dropdown-menu > li > a:hover,
header .dropdown-menu > li > a:focus,
header .dropdown-menu > li.active > a,
header .navbar-default .navbar-nav > .open > a, 
header .navbar-default .navbar-nav > .open > a:focus, 
header .navbar-default .navbar-nav > .open > a:hover{
  color: #fff;
  background-color: #5ab2b0;
}

header .navbar-default .navbar-nav > li:first-child > a:focus,
header .navbar-default .navbar-nav > li:last-child > a:focus,
header .navbar-default .navbar-nav > li:first-child > a:hover,
header .navbar-default .navbar-nav > li:last-child > a:hover,
header .navbar-default .navbar-nav > li:first-child.active > a,
header .navbar-default .navbar-nav > li:last-child.active> a
{
  background: none;
  color: #7a7a7a;
}
/*DropDowen Menu*/
header .dropdown-menu{
  border:none;
  border-radius: 0px;
  box-shadow: none;
}
/*Search Form*/
header .search-form{
  position: relative;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

}
header .navbar-default .navbar-nav > li > a > .fa-search{
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-top: -10px;
  z-index: 11;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  position: relative;
}

header .search-form .input-group{
  right: 0px;
  width: 256px;
  position: absolute;
  top: 27px;
   max-width: 256px;
  height: 52px;
  background-color: #ffffff;
  z-index: 1;
  border:1px solid #e3e3e3;
  padding: 8px;
  display: block;

}
.hide-form{display: none;}
header .search-form .input-group .form-control{
  border:1px solid #e3e3e3;
  text-transform: capitalize;
  font-size: 12px;
  color: #c1c1c1;
  box-shadow: none;
  border-radius: 0px;
}
.searchbtn-style{
  background-color: #ffffff;
  border:1px solid #e6e6e6;
  border-bottom: transparent;
}
.navbar-header-searchform{display: none;}

/*==================================*/
/*          BredCrumb               */
/*===================================*/
.ozdoc-bredcrubm-wrapper{
  background:#f0f0f0 url(../img/about/bredcrumb-back.jpg) no-repeat;
  background-size:cover; 
  margin-bottom: 40px;
}
.ozdoc-bredcrubm-wrapper .forum-article-heading{
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 35px;
  float: left;
}
.ozdoc-bredcrubm-wrapper .breadcrumb{
  float: right;
  background: none;
  padding: 45px 0px 30px;
}
.ozdoc-bredcrubm-wrapper .breadcrumb li a{
  font-size:14px;
  color: #535252;
  text-decoration: none;
  margin-right: 5px;
  text-transform: capitalize;
}
.ozdoc-bredcrubm-wrapper .breadcrumb > li + li::before {
    padding: 0 10px;
    color: #ccc;
    content: "";
    background: url(../img/about/bred-arrow.png)no-repeat center;
}
.ozdoc-bredcrubm-wrapper .breadcrumb li a:hover,
.ozdoc-bredcrubm-wrapper .breadcrumb li a:focus,
.ozdoc-bredcrubm-wrapper .breadcrumb li.active a,
.ozdoc-bredcrubm-wrapper .breadcrumb li.active a:hover,
.ozdoc-bredcrubm-wrapper .breadcrumb li.active a:focus{color: #5ab2b0;}












/*----------------------
   2.3 ) Header-Slider
 ----------------------*/
 .header-slider .carousel-inner{
  max-height: 420px;
  overflow: hidden;
  border-bottom: 3px solid #5ab2b0;
 }

.header-slider .carousel-inner img{width: 100%;}
.header-slider .slider-overlay{
  position: absolute;
  width: 100%;
  background: rgba(0,0,0, .5);
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}
.slider-overlay .slider-content{margin-top: 115px;}
.slider-overlay .slider-content h1{
  font-size: 40px;
  line-height: 40px;
  color: #5ab2b0;
  text-transform: uppercase;
  font-weight: bold
}
.slider-overlay .slider-content h2{
  font-size: 40px;
  line-height: 45px;
  color: #ffffff;
  text-transform: capitalize;
}
.slider-overlay .slider-content p{
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  width: 56%;
  margin-bottom: 20px;
  margin-top: 12px;
}
.readmore-btn{
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  padding:8px 21.03px;
  border:1px solid #ffffff;

}
.readmore-btn:hover,
.readmore-btn:focus{
  text-decoration: none;
  background-color: #5ab2b0;
  border-color: #5ab2b0;
  color: #ffffff;
}

 /*.carousel-indicators*/
.header-slider .carousel-indicators{bottom: 0px;}
.header-slider .carousel-indicators li{
  width: 17px;
  height: 17px;
  border:1px solid #5ab2b0;
  background-color: #5ab2b0;
  margin-bottom: -12px;
}
.header-slider .carousel-indicators li.active{
  background-color: #ffffff;
}

/*****************************************************************************************************************************************
                                                            3) home-portfolio
******************************************************************************************************************************************/
.home-portfolio{
  margin: 70px auto;
}
.home-portfolio .portfolio{
  width: 100%;
  background-color: #ffffff;
  border:1px solid #f1f1f1;
}
.home-portfolio .portfolio > img{
  width: 100%;
  max-height: 157px;
  min-height:157px;

}
.portfolio .porfolio-content {
   padding: 20px 12px;
}
.portfolio .porfolio-content h3{
  font-size: 22px;
  color: #656464;
  margin-bottom: 16px;
  text-transform: uppercase;
  min-height: 25px;
  max-height: 25px;
  overflow: hidden;
}


.portfolio .profile .profile-image{
  float: left;
  width: 73px;
  height: 73px;
  border:1px solid #ededed;
  padding: 5px;
  margin-right: 15px;
}
.portfolio .profile .profile-image img{width: 100%;height: 100%;max-width: 61px;max-height: 61px;}
.portfolio .profile h5{
  font-size: 16px;
  color: #464444;
  line-height: 19px;
  min-height: 19px;
  max-height: 19px;
  overflow: hidden;
}
.text-gray{
  font-size: 12px;
  line-height: 18px;
  color: #b7b7b7;
}
.portfolio .profile p{
  font-size: 14px;
  line-height: 17px;
  color: #7a7a7a;
  min-height: 34px;
max-height: 34px;
overflow: hidden;
}
.portfolio .profile p > a{
  color: #5ab2b0;
}

.portfolio .porfolio-content > hr{
  border-color: #f3f3f3;
  margin-top: 15px;
  margin-bottom: 15px;
}
.view-all-btn{
  width: 100%;
  height: 36px;
  border:none;
  background-color: #efefef;
  font-size: 14px;
  color: #827f7f;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.view-all-btn:hover,
.view-all-btn:focus{
  background-color:#5ab2b0;
  color: #ffffff; 
}


/*==========================*/
/*   Home Page forum-tabs   */
/*===========================*/
.forum-tabs-wrapper{
  background: url(../img/forum-back.jpg)no-repeat;
  background-size: cover;
}
.forum-article-heading{text-align: center;margin-top: 52px;margin-bottom: 36px;}
.forum-article-heading h2{
  font-size: 30px;
  color: #464444;
  text-transform: uppercase;
}
.forum-article-heading h2:after{
  content: "";
   display: block;
   width: 112px;
   height: 18px;
   background: url(../img/border-bottom.png)no-repeat;
   margin: 0 auto;
}
.forum-article-heading p{
  font-size: 14px;
  line-height: 22px;
  color: #7a7a7a;
  width: 50%;
  margin: auto;
  letter-spacing: .5px;
}
/*Tabs*/
.forum-tabs .nav-tabs{border:none;text-align: center;}
.forum-tabs .nav-tabs > li{margin: 0px;display: inline-block;float: none;}


.forum-tabs .nav-tabs > li.active > a, 
.forum-tabs .nav-tabs > li > a:focus,
.forum-tabs .nav-tabs > li > a:hover
{
  background-color: #5ab2b0;
  color: #ffffff;
  border:1px solid #5ab2b0;
}
.forum-tabs .nav-tabs > li > a{
  border-radius: 0px;
  padding: 10px 29.4px;
  border:1px solid #e1dfdf;
  font-size: 15px;
  color: #747171;
  margin-right: 10px;
}
/*Tabs Content*/
.forum-tabs-wrapper .forum-tabs{
  margin-bottom: 60px;
}
.forum-tabs .tab-content{
  margin-top: 30px;
}
.forum-tabs  .tab-pane  h3{
  font-size: 27px;
  color: #464444;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.forum-tabs  .tab-pane  p{
  font-size: 16px;
  line-height: 22px;
  color: #464444;
}
.forum-tabs  .tab-pane .tabs-comments .text-gray{
  margin-bottom: 12px;
  display: block;
}


.forum-tabs  .tab-pane .text-darkgray{
  font-size: 14px;
  color: #7a7a7a ;
  line-height: 22px;
}
.forum-tabs  .tab-pane .readmore-btn{
  background-color: #5ab2b0;
  color: #ffffff;
  margin-top: 40px;
  float: left;
  border:1px solid #5ab2b0;

}
.forum-tabs  .tab-pane .readmore-btn:hover,
.forum-tabs  .tab-pane .readmore-btn:focus
{
-webkit-box-shadow: 0px 5px 12px -4px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 5px 12px -4px rgba(0,0,0,0.31);
box-shadow: 0px 5px 12px -4px rgba(0,0,0,0.31);
}
.forum-tabs  .tab-pane .forum-ad{
  width: 100%;
  border:1px solid #dcdcdc;
  padding: 10px 5px 0px;
  text-align: center;
}
.forum-tabs  .tab-pane .forum-ad img{width: 100%;height:auto;}
.forum-tabs  .tab-pane .forum-ad p{
  font-size: 12px;
  line-height: 30px;
  color: #7c7c7c;
}
.gotoforum-btn{
  position: absolute;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #575757;
  left: 0px;
  right: 0px;
  margin: auto;
 background-color: #ffffff;
 border:1px solid #bebebe;
  height: 57px;
  max-width: 240px;
  line-height: 57px;
   margin-top: 35px;
   text-transform: uppercase;
}
.gotoforum-btn:hover,
.gotoforum-btn:focus{
  text-decoration: none;
  -webkit-box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.31);
box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.31);
 color: #575757;
}

/*==================================*/
/*   Home Page  Articles    */
/*===================================*/
.articles-wrapper .forum-article-heading{margin-top: 85px;}
.articles-wrap{margin-bottom: 60px;}
.articles-wrap .article {margin-bottom: 32px;display: inline-block;}
.articles-wrap .article .article-image{
  float: left;
  margin-right: 30px;
  max-height: 212px;
  overflow: hidden;
  min-height: 212px;
  height: 212px;
  max-width: 255px;
  width: 100%;
}
.articles-wrap .article .article-image img{
  width: 100%;
  height: 100%;
  max-width: 255px;
  max-height: 212px;
}









.articles-wrap .article .article-content{margin-bottom: 20px;}
.articles-wrap .article .article-content h4{
  font-size: 16px;
  line-height: 22px;
  color: #464444;
  min-height: 44px;
  max-height: 44px;
  overflow: hidden;
  margin-bottom: 7px;

}
.articles-wrap .article .article-content p{
  font-size: 13px;
  line-height: 20px;
  color: #7a7a7a;
  min-height: 82px;
  max-height: 82px;
  overflow: hidden;
  padding-top: 20px;
}
.articles-wrap .article .article-content .text-gray
{
  white-space: nowrap;
  max-width: 100%;
  display: block;
}

.articles-wrap .article .readmore-btn{
  float: left;
  border-color: #d9d9d9;
  color: #575757;
  padding: 8px 34px;
  margin-top: 4px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.100);
-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.100);
box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.100);

}
.articles-wrap .article .readmore-btn:hover,
.articles-wrap .article .readmore-btn:focus
{color: #ffffff;border-color: #5ab2b0;}

.articles-wrap .gotoforum-btn{
  display: inline-block;
margin-top: 28px;
}
/*==================================*/
/*   Home Page  Sponsers    */
/*===================================*/
.sponsers-wrapper{
  background-color: #ffffff;
  padding-bottom: 70px;
  padding-top: 30px;
}
.sponser-slider .sponser-item {
  max-width: 150px;
  max-height: 60px;
  min-height: 60px;
}

.sponser-slider .sponser-item img{
  max-width: 150px;
  max-height: 60px
}

/***********************************************************************************************************************
                                          Main Page About Us
************************************************************************************************************************/
.aboutus-content{margin-bottom: 40px;}
.aboutus-content .about-left-content .about-img{
  max-width: 256px;
  max-height: 100%;
  width: 100%;
}
.aboutus-content .about-left-content .about-img img
{
  width: 100%;
  height: auto;
  display: block;
}
.article-detail-page .aboutus-content .about-left-content .about-img{
  max-width: 385px;
  max-height: 305px;
  width: 100%;
}
.article-detail-page .aboutus-content .about-left-content .about-img img{
  width: 100%;
  max-height: 305px;
  display: block;
}



.aboutus-content .about-left-content p{
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #6f6f6f;
}
.aboutus-content .about-left-content h3{
  font-size: 22px;
  color: #464444;
  line-height: 30px;

}
.review-school-btn{
  max-width: 170px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  display: block;
  background-color: #5ab2b0;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 25px;
}
.review-school-btn:hover{
background-color: #4cc7c4;
color: #ffffff;
text-decoration: none;
}


.text-green{color: #5ab2b0;}
.aboutus-content .about-left-content .about-us-list{
  padding-left: 20px;
padding-top: 22px;
padding-bottom: 22px;
}

.aboutus-content .about-left-content .about-us-list li{
list-style: disc;
}

.aboutus-content .about-left-content .about-us-list li a{
  font-size: 14px;
  color: #6f6f6f;
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
}
.aboutus-content .about-left-content .about-us-list li a:hover,
.aboutus-content .about-left-content .about-us-list li a:focus{color: #5ab2b0;}



/*OZDOC SIDE BAR*/
.ozdoc-siderbar .sidebar-ad{
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 10px 5px 0px;
  text-align: center;
}
.ozdoc-siderbar .sidebar-ad img{width: 100%;height: auto;}
.ozdoc-siderbar .sidebar-ad p {
    font-size: 12px;
    line-height: 30px;
    color: #7c7c7c;
}

/*Tab Slider*/
.ozdoc-siderbar .sidebar-forum{margin-bottom: 40px;}
.ozdoc-siderbar .forum-tabs{
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-top: -10px;
}

.ozdoc-siderbar .forum-article-heading{
  margin-bottom: 0px;
  margin-top: 40px;
}
.ozdoc-siderbar .forum-article-heading h2::after{position: relative;}

.tab-sldier{position: relative;}
.tab-sldier  .nav  li  a{
  border-radius: 0px;
  border: 1px solid #e1dfdf;
  font-size: 14px;
  color: #747171;
  margin-right: 0px;
  display: inline-block;
  text-decoration: none;
  max-width: 140px;
  width: 100%;
  height: 40px;
  max-height: 40px;
  overflow: hidden;
  line-height: 40px;
}
.tab-sldier  .nav   li   a:hover,
.tab-sldier  .nav   li   a:focus,
.tab-sldier  .nav   li.active  a{
  background-color: #5ab2b0;
  border-color: #5ab2b0;
  color: #ffffff;
}
.slide-tab-left,
.slide-tab-right{
  position: absolute;
  top: 12px;
  font-size: 13px;
  color: #7a7a7a;
  cursor: pointer
}
.slide-tab-left{left: -10px;}
.slide-tab-right{right: -10px;}



.ozdoc-siderbar .gotoforum-btn{
  display: block;
  margin-top: -20px;
  position: static;
  max-width: 180px;
  width: 100%;
  height: 37px;
  line-height: 37px;
}

/**********************************************************
              Interview Page
***********************************************************/
.interview-page .articles-wrap,
.articles-page  .articles-wrap  {margin-bottom: 0px;}
.interview-page .articles-wrap .article{width: 100%;margin-bottom: 0px;}
.interview-page .articles-wrap .article .article-content h4{min-height: auto;}
.interview-page .articles-wrap .article .article-content p{max-height: 100%;min-height: auto;}
.interview-page .articles-wrap .article .article-content{margin-bottom: 2px;min-height: 168px;max-height:168px; overflow: hidden;}

.interview-page .articles-wrap hr {
  border-color: #e4e4e4;
  margin-top: 30px;
  margin-bottom: 30px;
}
.interview-pagination{text-align: center;}

.interview-pagination .pagination{margin: 0px auto;border-radius: 0px;}
.articles-page .interview-pagination .pagination{margin-top: 20px;}
.interview-pagination .pagination > li > a{
    padding: 5px 12px;
    margin-right: 8px;
    border:none;
    color: #6b6b6b;
    font-size: 15px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.100);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.100);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.100);
  border-radius: 4px;

}
.interview-pagination .pagination > li > a:hover,
.interview-pagination .pagination > li > a:focus,
.interview-pagination .pagination > li.active a{background-color: #5ab2b0;color: #ffffff;}

/**********************************************************
              Conferences & Meetings 2
***********************************************************/
.search-catgory-section{margin-bottom: 30px;}
.search-catgory-section .header-selection{
  width: 100%;
  height: 40px;
  border:1px solid #dddddd;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 12px;
  color: #777777;
  background: url(../img/select-arrow.png) no-repeat;
  background-position: 95% 50%;
  font-size: 12px;
  color: #777777;
  padding-left: 5px;
}
.search-catgory-section .type-category,
.search-catgory-section .name-category,
.search-catgory-section .ranking-category{
  float: left;
}

.search-catgory-section .type-category{
  max-width: 255px;
  width: 100%;
  margin-right: 20px;
}
.search-catgory-section .name-category{
  max-width: 335px;
  width: 100%;
}
.search-catgory-section .ranking-category{
  max-width: 240px;
  width: 100%;
  margin-right: 5px;
  margin-left: 75px;
}
.search-catgory-section .ranking-category .header-selection{max-width: 182px;}

.search-catgory-section .search-cat-btn,
.search-catgory-section .flow-btn{
  max-width: 90px;
  height: 40px;
  width: 100%;
  background-color: #5ab2b0;
  color: #ffffff;
  border:none;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  float: left;
}
.search-catgory-section .search-cat-btn,
.search-catgory-section .flow-btn,
.search-catgory-section .ranking-category
{margin-top: 18px;}
.search-catgory-section .flow-btn{max-width: 120px;float: ;}
.search-catgory-section p,
.search-catgory-section span{
  font-size: 13px;
  color: #464444;
  text-transform: uppercase;
}

.selection-border{
  margin-top: 22px;
  margin-bottom: 20px;
  border: 0;
  border-top: 7px solid #f0f0f0;
}
/*Table*/
.school-list-table .table{
  border:1px solid #f0f0f0;
  margin-bottom: 60px;
}

.school-list-table .table > thead {
  background-color: #f0f0f0;
}
.school-list-table .table > thead > tr > th{border:none;padding: 15px 22px;font-size: 13px;color: #464444;letter-spacing: 1px;}
.school-list-table .table > tbody > tr > td, 
.school-list-table .table > tbody > tr > th, 
.school-list-table .table > thead > tr > td, 
.school-list-table .table > table > thead > tr > th{border-bottom: 1px solid #dcdcdc;border-top: none;padding: 15px 22px;}


.school-list-table .table > tbody > tr > td > h5{
  font-size: 16px;
  line-height: 22px;
  color: #464444;
  white-space: nowrap;
  overflow: hidden;
  max-width: 308px;
  width: 100%;
}

.school-list-table .table > tbody > tr > td > p{
  font-size: 13px;
  color: #2b2b2b;
  line-height: 22px;
}
.school-list-table .table > tbody > tr > td > a{
  font-size: 13px;
  color: #5ab2b0;
  line-height: 30px;
  text-decoration: underline;
  font-weight: bold;
}
.school-list-table .table > tbody > tr > td{position: relative;color: #7a7a7a;text-align: center;}
.school-list-table .table > thead > tr > th{text-align: center;}

.school-list-table .table > thead > tr > th:first-child{text-align: left;}
.school-list-table .table > tbody > tr > td:first-child{text-align: left;padding-right: 75px;}

.school-list-table .table > tbody > tr > td:nth-child(3),
.school-list-table .table > tbody > tr > td:nth-child(4),
.school-list-table .table > tbody > tr > td:nth-child(5){padding-top: 40px;}

.school-list-table .table > tbody > tr > td:last-child p{color: #7a7a7a;max-height: 66px;min-height: 66px;overflow: hidden;}

.school-list-table .table > tbody > tr > td:after{
  content: "";
  width: 1px;
  height: 68px;
  background: url(../img/border-right.png) no-repeat;
  display: block;
  position: absolute;
  right: 0px;
  top: 22px;
}
.school-list-table .table > tbody > tr > td:last-child:after{display: none;}
.date-circle{
  width: 86px;
  height: 86px;
  line-height: 86px;
  border-radius: 43px;
  text-align: center;
  border:1px solid #f0f0f0;
  margin:auto;
}
/*==================================*/
/*   Contact us page                 */
/*===================================*/
.contact-form-wrap{margin-top: 22px;}
.contact-form-wrap h3{
  font-size: 30px;
  color: #464444;
}
.contact-form-wrap p{
  font-size: 13px;
  color: #6c6c6c;
  line-height: 24px;
  padding-bottom: 20px;
}

.ozdec-register-form .form-input,
.ozdec-register-form textarea{
  width: 100%;
  height: 50px;
  border:1px solid #dddddd;
  font-size: 12px;
  color: #777777;
  padding-left: 10px;
  margin-bottom: 12px;

}
.ozdec-register-form textarea{
  min-height: 160px;
  padding-top: 12px;
}
.submit-btn{
  width: 100%;
  height: 55px;
  line-height: 55px;
  background-color: #5ab2b0;
  color: #ffffff;
  border:none;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.submit-btn:hover,
.submit-btn:focus{ background-color: #20c2be;}
.contactus-detail .logo{
margin-top: 42px;
}
.contactus-detail  p{
  font-size: 13px;
  color: #7a7a7a;
  line-height: 22px;
  padding-top: 12px;
}

.contactus-detail  p i{
  font-size: 20px;
  color: #7a7a7a;
  display: block;
  float: left;
  margin-right: 10px;
}
.contactus-detail  p    a{
  color: #7a7a7a;
 text-decoration: none;
 display: inline-block;
}
/*Google Maps*/
.google-map {
  height: 420px;
  margin-top: 35px;}








/*==================================*/
/*   Footer                         */
/*===================================*/
.footer-wrapper{
  border-top: 2px solid #e4e4e4;
  padding-top: 40px;
}
.footer-wrapper .footer-ad{
  text-align: center;
  margin-top: 10px;
  max-height: 91px;
  margin-bottom: 40px;
}
.footer-wrapper .footer-ad img{
  max-width: 100%;
  max-height: 100%;
}
.footer-wrapper  p{
  font-size: 13px;
  color: #7a7a7a;
  line-height: 18px;
  margin-bottom: 5px;
}

.footer-wrapper p > a{
  text-decoration: none;
   font-size: 13px;
  color: #7a7a7a;
  line-height: 18px;
  display: inline-flex;
}
.footer-wrapper p > i{
  font-size: 20px;
  color: #7a7a7a;
  line-height: 22px;
  margin-right: 10px;
}

.footer-wrapper .forum-article-heading{
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer-wrapper .footer-links{
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    margin-top: 20px;
}

.footer-wrapper .footer-links li a{
  text-decoration: none;
  font-size: 13px;
  line-height: 36px;
  color: #7a7a7a;
  white-space: nowrap;
  overflow: hidden;
}
.footer-wrapper .footer-links li a:before{
  content: '';
  width: 5px;
  height: 10px;
  background: url(../img/angle-right.png)no-repeat;
  display: inline-block;
  margin-right: 5px;
}
.footer-wrapper .footer-links li a:hover{text-decoration: underline;}
.footer-wrapper .socials-icons{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 22px;
}
.footer-wrapper .socials-icons li{
  float: left;
  width: 43px;
  height: 43px;
  border: 1px solid #ececec;
  background: #ffffff;
  line-height: 43px;
  text-align: center;
  margin-right: 12px;
}
.footer-wrapper .socials-icons li a{display: block;} 
.footer-wrapper .socials-icons li > a > i{
font-size: 16px;
  color: #5d5d5d;
}

.footer-wrapper .socials-icons li:hover i,
.footer-wrapper .socials-icons li:focus i{color: #ffffff;}

.footer-wrapper .socials-icons li.fbook:hover,
.footer-wrapper .socials-icons li.fbook:focus{background-color: #3B579D;}

.footer-wrapper .socials-icons li.twitter:hover,
.footer-wrapper .socials-icons li.twitter:focus{background-color: rgb(66,192,251);}

.footer-wrapper .socials-icons li.linkdin:hover,
.footer-wrapper .socials-icons li.linkdin:focus{background-color: rgb(0,123,182);}

.footer-wrapper .socials-icons li.googleplus:hover,
.footer-wrapper .socials-icons li.googleplus:focus{background-color: rgb(233,27,14)}


.footer-wrapper .staff-members .staff-membrs-image{
  width: 100%;
  max-width: 255px;
  max-height: 140px;
  border:1px solid #ffffff;
  clear: both;
  position: relative;
}
.footer-wrapper .staff-membrs-image img{width: 100%;height: auto;}
.footer-wrapper  .overlay-staff{
  position: absolute;
  bottom: -4px;
  left: 0px;
  background: rgba(0,0,0, .6);
  width: 100%;
  height: 40px;
  text-align: center;
  transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
}
.footer-wrapper  .overlay-staff > span{
  font-size: 18px;
  line-height: 44px;
  color: #ffffff;
  display: block;
  text-transform:uppercase;
  text-decoration: none;
}
.footer-wrapper  .staff-members   .staff-membrs-image:hover .overlay-staff{
  background-color: #5ab2b0;
  cursor: pointer;
}



/*Bottom Footer*/
.footer-wrapper footer{
  background-color: #5ab2b0;
 color: #ffffff;
 margin-top: 40px;
}
.footer-wrapper  footer p{
  color: #ffffff;
  font-size: 13px;
  display: inline-block;
  text-transform: capitalize;
  padding-top: 11px;
padding-bottom: 11px;

}
.footer-wrapper  footer p:last-child{float: right;}
.footer-wrapper  footer p a{color: #b1f6f4;}
.footer-wrapper  footer p a:hover{text-decoration: underline;}
.footer-wrapper .logo{margin-bottom: 10px;}



 /*============================================================  

                    Mobile First Method  

 =============================================================*/

    /* Custom, iPhone Retina */ 
@media only screen  and (min-width: 678px) and (max-width : 1500px)  {
/*Slider*/
.header-slider .carousel-inner > .item > a > img, 
.header-slider .carousel-inner > .item > img{min-height: 360px;}
}

@media only screen  and (min-width: 768px) and (max-width : 1200px) {
header .navbar-default .navbar-nav > li > a {font-size: 12px;padding: 16px 14px;}

}
@media only screen  and (min-width: 992px) and (max-width : 1199px) {
.tab-sldier .nav li a{max-width: 120px;}
.footer-wrapper .socials-icons li{margin-right: 7px;}

/*conference meeting 2*/
.search-catgory-section .type-category{max-width: 200px;}
.search-catgory-section .name-category{max-width: 235px;}
.search-catgory-section .ranking-category{margin-left: 29px;}

}
@media only screen  and (min-width: 768px) and (max-width : 991px) {
.container{width: 100%;}
.portfolio .porfolio-content h3{font-size: 16px;}
.footer-wrapper .footer-links {-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;margin-top: 36px;}
.footer-wrapper .footer-links li a{line-height: 25px;}

/*conference meeting 2*/
.search-catgory-section .selectins-wrap{max-width: 736px;width: 100%;margin: auto;}
.search-catgory-section .type-category{margin-right: 5px;}
.search-catgory-section .header-selection{background-position: 90% 50%;}
.search-catgory-section .type-category{max-width: 170px;}
.search-catgory-section .name-category{max-width: 185px;}
.search-catgory-section .ranking-category{margin-left: 10px;}
.search-catgory-section .ranking-category .header-selection{max-width: 90px;}
.search-catgory-section .ranking-category{max-width: 150px;}

}
@media only screen  and (min-width: 768px) and (max-width : 937px) {header .navbar-default .navbar-nav > li > a{padding: 16px 10px;}}
@media only screen  and (min-width: 768px) and (max-width : 865px) {
  header .navbar-default .navbar-nav > li > a{padding: 16px 4.5px;}
  .school-list-table .table > tbody > tr > td:first-child{padding-right: 10px;}
}






    /*==========  Non-Mobile First Method  ==========*/



/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
/*Home Portfolio*/
.home-portfolio .portfolio{margin-bottom: 30px;}
/*Home Tabs*/
.forum-tabs .panel-default  .panel-heading{
  background-color: #ffffff;
  border-radius: 0px; 
  padding: 0px;
}
.forum-tabs .panel-default  .panel-heading:hover,
.forum-tabs .panel-default  .panel-heading:focus
{background-color: #5ab2b0;}
.forum-tabs .panel-default  .panel-heading:hover a{color: #ffffff;}
.forum-tabs .panel-title a{
  font-size: 15px;
  color: #747171;
  display: block;
  text-decoration: none;
  padding: 10px 15px;
}
.forum-ad{display: none;}
.forum-tabs  .panel-body .readmore-btn{
  background-color: #5ab2b0;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 22px;
}
.articles-wrap .article,.forum-article-heading p{width: 100%;}

/*=======about us page=========*/
.ozdoc-siderbar .sidebar-ad{display: none;}












/*Footer*/
.footer-wrapper .socials-icons{
  float: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.footer-wrapper .staff-members .staff-membrs-image{margin: auto;}




}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.navbar-header {float: none;}
.navbar-left,.navbar-right {float: none !important;}
.navbar-toggle {display: block;}
.navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
.navbar-fixed-top {top: 0;border-width: 0 0 1px;}
.navbar-collapse.collapse {display: none!important;}
.navbar-nav {float: none!important;}
.navbar-nav>li {float: none;}
.navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
.collapse.in{display:block !important;}
.navbar-toggle .icon-bar{background-color: #ffffff}
header .navbar-default .navbar-nav > li:first-child a{padding-left: 21px;}
header .navbar-default .navbar-collapse,
header .navbar-default .navbar-form{padding-left: 15px;padding-right: 15px;}
header .navbar-default .navbar-nav > li > a{padding: 16px 15px;}
.navbar-collapse .search-btn,
.navbar-collapse .hide-form{display: none !important;}
.header-slider .slider-overlay{display: none;}
/* 2nd Search Form*/
.navbar-header-searchform{display: block;}
.navbar-header-searchform .search-form .input-group{left: 15px;top: 6px;padding: 0px;height: 34px;border:none;box-shadow: none;}
.form-control:focus{box-shadow: none;}
.navbar-header-searchform .search-form .input-group .glyphicon-search{color: #7a7a7a;}


/*Footer*/
.footer-wrapper .footer-links{margin-bottom: 20px;}
.forum-article-heading h2{font-size: 25px;}
.footer-wrapper .footer-links {margin-top: 45px;margin-left: 5px;}
/*About us Page*/
.aboutus-content .about-left-content .about-img img{margin: 20px auto;display: block;}

/*conference meeting 2 page*/
.search-catgory-section .type-category, .search-catgory-section .name-category, .search-catgory-section .ranking-category{float: none;}
.search-catgory-section .type-category,
.search-catgory-section .name-category,
.search-catgory-section .ranking-category{max-width: 100%;}
.search-catgory-section .search-cat-btn, .search-catgory-section .flow-btn{float: none;}
.search-catgory-section .ranking-category{margin-left: 0px;display: inline;margin-top: 0px;}
.search-catgory-section .ranking-category .header-selection{max-width: 20%;min-width:80px}
.search-catgory-section .flow-btn{display: inline;}
.search-catgory-section .header-selection{background-position: 98% 50%;}
.search-catgory-section .ranking-category .header-selection{background-position: 93% 50%;}
.search-catgory-section p, .search-catgory-section span{margin-top: 10px;margin-bottom: 5px;}
/*Table*/
.school-list-table .table > tbody > tr > td:first-child{padding-right: 0px;}
.school-list-table .table > tbody > tr > td > h5{max-width: 100%;white-space: pre-wrap;}



}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
.top-navigation .top-nav-links{float: none;}
.top-navigation .top-nav-links li a{font-size: 12px;padding: 0px 5px 0px 5px;}
.articles-wrap .article .article-image {float: none;margin-right: 0px;text-align: center;}
.articles-wrap .article{text-align: center;}
.articles-wrap .article .article-image img{max-width: 100%;margin-bottom: 15px;}
.footer-wrapper .footer-ad{padding-left: 15px;padding-right: 15px;}
.logo-section .logo{float: none;text-align: center;}
.logo-section{text-align: center;}
.logo-section .logo-content{display: inline-block;float: none;}
.header-slider .slider-overlay{display: none;}
.header-slider .carousel-inner,
.header-slider .carousel-inner .item{height: 150px;}
.header-slider .carousel-inner > .item > a > img, 
.header-slider .carousel-inner > .item > img{height: 150px;}

.forum-article-heading p{width: 100%;}
.portfolio .profile{min-height: 115px;max-height: 115px;}
.articles-wrap .article .article-content{margin-bottom: 0px;}
.articles-wrap .article .article-content p{padding-top: 5px;}
/*About us page*/
.tab-sldier .nav li a{max-width: 120px;}



.footer-wrapper .forum-article-heading{margin-top: 20px;margin-bottom: 10px;}
.footer-wrapper .footer-links{
  -webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}
.footer-wrapper footer{text-align: center;}
.footer-wrapper footer p:last-child{float: none;}
.footer-wrapper footer p{padding-top: 5px;padding-bottom: 0px;font-size: 11px;}




}/*/480*/
@media only screen and (max-width : 380px) {.logo-section .logo-content{display: none;}
.school-list-table .table > tbody > tr > td{padding: 10px 10px;}
.school-list-table .table > tbody > tr > td > h5{font-size: 12px;line-height: 16px;}
.date-circle {
    width: 75px;
    height: 75px;
    line-height: 22px;
    border-radius: 50%;
    padding-top: 29px;
    font-size: 12px}


}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
.navbar-header-searchform .search-form .input-group{width: 60%;left: 15px;}
/*About us page*/
.tab-sldier .nav li a{max-width: 120px;}


}



